/* Flexbox for individual post container dynamically adjusting to the space provided */
.blogPostItem {
  font-family: sans-serif;
  display: grid;
  border: 1px solid #dddddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  text-align: left;
}

.blogPostItem:hover {
  box-shadow: 0 2px 8px #2c3e50;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin: 0 0 0.5rem;
  transition: color 0.3s ease;
}

.title:hover {
  color: #007bff;
}

.summary {
  font-size: 16px;
  color: #666666;
  margin: 0.5rem 0;
}

.date {
  font-size: 14px;
  color: #999999;
}

@media (max-width: 769px) {
  .blogPostItem {
    padding: 15px;
  }
  .title {
    font-size: 20px;
  }
  .summary {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
  }
}
