/* Grid display for multiple posts, dynamically adjusts to screen size */
.container {
  font-family: sans-serif;
  text-align: center;
  margin-top: 100px;
}

.title {
  font-size: 3rem;
  color: #333333;
}
.blogPostList {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 20px;
}

@media (max-width: 1199px) {
  .blogPostList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 769px) {
  .blogPostList {
    grid-template-columns: repeat(1, 1fr);
  }
}
