.layout {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.main {
  flex: 1;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003366;
  height: 40px;
}

.footer p {
  font-size: 14px;
  margin: 0;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
  }
}
